.haert {
    cursor: pointer;
    .fas {
        opacity: 0;
    }
    .fas:hover {
        opacity: 1;
        transform-origin: 50% bottom;
        transition-duration: 1s;
        transform: translateY(11%) scale(1.2);
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    .far {
        position: relative;
        right: -1.75rem;
    }
    .far:hover {
        opacity: 0;
        display: none;
    }
}